{% extends 'main/prueba.html' %}
{% block title %}Inicio de sesión{% endblock %}
{% block content %}

<main class='container'>
    <div class='row'>
        <div class='col-md-6 offset-md-3 mt-7'>
            <!-- Agregar la imagen al inicio del formulario -->
            <div class="text-center">
                <img src="/media/futuristic_web_design.png" alt="Futuristic Web Design" class="img-fluid" style="max-width: 100%; height: auto;">
            </div>
            <form method="post" class="form-signin mt-4">
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal text-center">Iniciar sesión</h1>
                <div class="messages mt-3">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                {% for field in form %}
                    <label class="form-label">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" 
                            class="form-control" 
                            name="{{ field.name }}"
                            autocomplete='off'><br/>
                {% endfor %}
                <div class='text-center'>
                    <button class="btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
